<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.minju.project.emp.map.EmpMapper">
	<insert id="empInsert" parameterType="co.minju.project.emp.service.EmpVO">
		INSERT INTO EMP VALUES (#{empId}, #{empPw}, #{empName}, #{empPhone}, sysdate);
	</insert>

</mapper>